@font-face {
  font-family: "leaguespartan-bold";
  src: url("../fonts/leaguespartan-bold.woff2") format("woff2"), url("../fonts/leaguespartan-bold.woff") format("woff"); }
@font-face {
  font-family: "GTWalsheimPro";
  src: url("../fonts/GTWalsheimProBold.woff2") format("woff2"), url("../fonts/GTWalsheimProBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "GTWalsheimPro";
  src: url("../fonts/GTWalsheimProLight.woff2") format("woff2"), url("../fonts/GTWalsheimProLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
html,
body {
  font-size: 100%;
  height: 100%;
  width: 100%;
  background-color: #ff5e66; }

* {
  box-sizing: border-box; }

.eyes {
  height: 37vw;
  max-height: 250px;
  display: block;
  width: 85vw;
  position: relative;
  top: 0%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: -5%;
  display: flex;
  justify-content: space-between;
  border: 2px solid #ff5e66;
  overflow: hidden; }

.eyeWrapper {
  width: 37vw;
  max-width: 250px;
  max-height: 250px;
  height: 37vw;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  border-radius: 100%; }

.eyeWhite {
  top: 0.5%;
  left: 0.5%;
  width: 99%;
  height: 99%;
  background-color: white;
  position: absolute;
  border-radius: 100%;
  overflow: hidden; }

.eye {
  height: 30%;
  width: 30%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #95cefc;
  border-radius: 100%; }

.pupil {
  height: 40%;
  width: 40%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #2a3064;
  border-radius: 100%; }

.st0 {
  fill: #ff5e66; }

svg.eyelid {
  position: absolute;
  width: 101%;
  height: 101%;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  filter: drop-shadow(0px 3px rgba(0, 0, 0, 0.2)); }

.homeText {
  color: white;
  width: 85vw;
  margin: 0 auto;
  position: relative; }

.homeText h1 {
  text-shadow: 0px 3px rgba(0, 0, 0, 0.1);
  font-size: 8vw;
  line-height: 12vw;
  font-family: "leaguespartan-bold", "GTWalsheimPro", sans-serif;
  letter-spacing: 0.0625rem; }

.homeText h2 {
  font-size: 6vw;
  font-family: "GTWalsheimPro", sans-serif;
  font-weight: 300; }

.homeText nav {
  text-shadow: 0px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  position: relative;
  top: 1rem;
  justify-content: space-between;
  font-size: 8vw;
  line-height: 12vw;
  flex-direction: column;
  font-family: "GTWalsheimPro", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0625rem; }

.homeText nav a {
  position: relative;
  text-decoration: none;
  color: white; }

.homeText nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 0.3rem solid white;
  transition: 0.4s;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.1); }

@media screen and (min-width: 600px) {
  .eyes {
    width: 70vw;
    height: 30vw;
    margin-bottom: 0; }

  .eyeWrapper {
    width: 30vw;
    height: 30vw; }

  .homeText {
    width: 70vw; }

  .homeText h2 {
    font-size: 3.5vw; }

  .homeText nav {
    flex-direction: row;
    font-size: 3.8vw;
    line-height: initial; }

  .homeText h1 {
    flex-direction: row;
    font-size: 4.3vw;
    line-height: initial; }

  .homeText nav a:hover::after {
    width: 100%; } }
@media screen and (min-width: 1009px) {
  .homeText nav {
    font-size: 38.3px; }

  .homeText h1 {
    font-size: 43.3px; }

  .homeText h2 {
    font-size: 36px; }

  .homeText {
    width: 700px; } }
@media screen and (min-height: 700px) and (min-width: 600px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center; }

  .center {
    margin-top: -20%; } }

/*# sourceMappingURL=home.css.map */
